.subHeaderContainers{
    padding:25px;
    width: 250%;
    /* margin-right: 20px; */
    /* margin: 10px; */
    /* margin-top: -15px; */

}

.subHeaderTitles{
    font-size: 15;
    font-family: 'Raleway' !important;

    /* font-family: ; */
}
.hr{
    border-top: 2px solid #006c90 !important;
}