.newStaffContainer{
    display: flex;
    flex-direction: column;
    align-items: 'flex-start';
    margin-left: 25px;
    
}

.lowerInfoComponent{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 70px; */
    margin-top: 15px;

    /* flex-direction: 'column'; */
    /* flex-direction: row; */
    /* padding-top: 20px; */
}

.Commonbutton{
    width: 80px;
    height: 50px;
    margin-left: 120px !important;
    margin-right: 120px !important;
    padding-top: 20px;
    background: rgb(72, 181, 228) !important;
    border-color: rgb(72, 181, 228) !important;
    border-bottom-color: rgb(72, 181, 228) !important;
    border-right-color: rgb(72, 181, 228) !important;
    border-radius: 6px;
    border-bottom-style: unset !important;
    border-right-style: unset !important;
    color: white;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    padding: 9px 40px;
}